body {
	font-family:Verdana, Tahoma, sans-serif;
	color:#666666;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	width:770px;
	border: 1px solid black;
	position:relative;
}

img {border:none;}

a{
	color:red;
	text-decoration:none;
	border:none;
}
a:hover{
	color:black;
}

#header div{
	width:710px;
	height:35px;
	margin-left:-10px;
	margin-bottom:20px;
	/*background-color:#CDCDCD;*/
	background-image:url('pngfiles/tool1.png');
	clear:left;
}

#logo{
	float:left;
	margin-right:180px;
}
#header h1 {
	float:left;
	margin-left:200px;
}
#toolBar{
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type:none;
	}
	
#header span{
	position:absolute;
	top:90px;
	right:30px;
	color:blue;
}	

#logo{height:100px;}

#req2Logo{
	float:right;
	margin:-80px -60px 0 0;
}

#legendFig{
	float:left;
	}

#webiHelpBox{
	position:absolute;
	top:0px;
	right:0px;
	border: 1px black solid;
	background-color:white;
	width:500px;
	padding:8px;
	z-index:49;
}

/*#helpWebi{
	position:absolute;
	top:15px;
	right:15px;
}

#helpWebi:hover{
	width:18px;
	cursor:pointer;
}
*/
#webiHelpClose, #webiEventDisplayClose{ /* close img for webicorders */
	position:absolute;
	top:3px;
	right:3px;
}

#webiHelpClose:hover, #webiEventDisplayClose:hover{
	width:18px;
	cursor:pointer;
}

#explanation{
	width:700px;
	padding:8px;
}
	
	


	


